HYPER_SDK_API_KEY=""
HYPER_SDK_JWT=""

URL_TO_PARSE='https://jobs.dubizzle.com/'
USER_AGENT=''

REESE_RESOURCE_PATH='/We-a-did-and-He-him-as-desir-call-their-Banquo-B'
SECOND_REESE_RESOURCE_PATH='/Spurre-Onell-vp-Enter-feed-ere-Yourthe-away-riso/'
JOBS_DOMAIN='jobs.dubizzle.com'
DUBAI_DOMAIN='dubai.dubizzle.com'
UAE_DOAMIN='uae.dubizzle.com'